@using shiouen.io.Web.MVC.Helpers;

@{
    Layout = "~/Views/Layout/_Layout.cshtml";
    ViewBag.Title = "SHI DEV";
}

@Html.Partial("~/Views/Layout/_Menu.cshtml")

@Html.Partial("~/Views/Home/_Home.cshtml")
@Html.Partial("~/Views/Home/_About.cshtml")

        <!-- ABOUT SEPARATOR -->
        <div class="sep about" data-stellar-background-ratio="0.5"></div>

@Html.Partial("~/Views/Home/_Portfolio.cshtml")

	    <!-- PORTFOLIO SEPARATOR -->
        <div class="sep portfolio" data-stellar-background-ratio="0.5"></div>

@Html.Partial("~/Views/Home/_Service.cshtml")

        <!-- CONTACT SEPARATOR -->
        <div class="sep contact" data-stellar-background-ratio="0.5"></div>

@Html.Partial("~/Views/Home/_Contact.cshtml")

@Html.Partial("~/Views/Layout/_Footer.cshtml")


